@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea, a, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
